* {
  color: whitesmoke;
}

.App {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 7vh;
  background-image: url("../images/curtains.jpg");
  background-size: cover;
}

.main {
  flex-basis: 70%;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  margin-top: 40vh;
  justify-content: space-between;
}

.title {
  margin-top: 0;
  padding-top: 8vh;
  margin-bottom: 2vh;
  font-size: 8vh;
}

.logos{
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
}

.logo {
  height: auto;
  width: 25vw;
}

.bold {
  font-weight: bolder;
  text-decoration: underline;
}

h2 {
  width: 65vw
}

p {
  font-size: larger;
  word-wrap:break-word
}

h2 {
  font-weight: 600;
}

aside {
  flex-basis: 30%;
  display: flex;
  justify-content: space-between;
}

.links {
  padding-bottom: 5vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

.poster {
  width: 25vw;
  height: auto;
  padding-bottom: 7vh;
}

.form {
  border-radius: 20px;
  width: 30rem;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 3px solid grey;
  background-color: white;
  color: black;
  padding: 15px
}  

@media screen and (min-width: 1400px) {
  .App {
    padding-top: 8vh;
  }
} 

@media screen and (max-width: 992px) {
  .App {
    padding-top: 80vh;
  }
  .links {
    flex-direction: column;
  }
  .poster {
    width: 55vw;
  } 
}  

@media screen and (max-width: 800px) {
  .App {
    padding-top: 65vh;
  }
}

@media screen and (max-width: 600px) {
  .App {
    padding-top: 40vh;
  }
  .header {
    flex-direction: column-reverse;
  }
  .logos {
    flex-direction: row;
    margin-top: 20vh;
    justify-content: space-around;
  }
  .logo {
    width: 30vw;
    height: max-content;
  }
  .monument-logos {
    width: 40vw;
    margin-top: 3vh;
  }
   
  .title {
    font-size: 3rem;
    padding-top: 3vh;
  }
  
  p {
    font-size: large;
  }


}