* {
  color: whitesmoke;
}

.App {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 7vh;
  background-image: url("../images/curtains.jpg");
  background-size: cover;
}

.logos{
  height: auto;
  width: 25vw;
  margin-top: 3vh;
}

.main {
  flex-basis: 70%;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: start;
}

p {
  font-size: larger;
}

.title {
  margin-top: 0;
  padding-top: 10vh;
  margin-bottom: 2vh;
  font-size: 10vh;
}

aside {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links {
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.poster {
  width: 10vw;
  height: auto;
  padding-bottom: 7vh;
}

.form {
  border-radius: 20px;
  width: 30rem;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 3px solid grey;
  background-color: white;
  color: black;
  padding: 15px
}  